#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #262626;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, 0.4);
}

#footer a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

.footer-social-icons {
    text-align: right;
}

.footer-social-icons a {
    margin: 0 5px;
    font-size: 16px;
}

.footer-social-icons span {
    margin-right: 10px;
}