<div class="linkback" (click)="goBack()">
    <i class="fa fa-arrow-left"></i>
    Back to room
</div>
<div class="main-container">
    <div class="stats-container">
        <h2>{{pollTitle}}</h2>
        <div class="chart-container">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>
