<div class="open-container">
    <div class="menu-buttons">
        <div class="button-group">
            <div class="form-group">
                <input class="form form-control" type="text" placeholder="Enter your room name"
                       [(ngModel)]="roomNameForm">
                <input type="checkbox" [(ngModel)]="audienceCanAskForm" id="audienceAsk" checked/>
                <label for="audienceAsk">Audience can post questions on the room dashboard</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="join-room" (click)="joinRoom()">Open room</button>
            </div>
        </div>
    </div>
</div>