.open-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu-buttons {
    text-align: center;
}

.button-group {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.button-group button {
    width: 200px;
}