<div class="menu-container">
    <div class="menu-buttons">
        <div class="button-group">
            <label for="join-room">If you are following a lecture:</label>
            <button class="btn btn-primary" id="join-room" (click)="goToJoin()">Join a room</button>
        </div>
        <div class="button-group">
            <label for="open-room">If you are a lecturer:</label>
            <button class="btn btn-default" id="open-room" (click)="goToOpen()">Open a room</button>
        </div>
    </div>
</div>